{{!-- Header Part --}}
<header class="potion-sheet-header">
    <div class="header-left">
        <img src="{{item.img}}" data-edit="img" class="item-image" title="{{item.name}}" />
    </div>
    <div class="header-right">
        <input type="text" name="name" value="{{item.name}}" placeholder="Potion Name" class="item-name" />
        <div class="item-type-badge">
            <i class="fas fa-flask"></i> Potion
        </div>
    </div>
</header>