{{!-- Header Part --}}
<header class="npc-attack-sheet-header">
    <div class="header-left">
        <img src="{{item.img}}" data-edit="img" class="item-image" title="{{item.name}}" />
    </div>
    <div class="header-right">
        <input type="text" name="name" value="{{item.name}}" placeholder="Attack Name" class="item-name" />
        <div class="item-type-badge">
            <i class="fas fa-crossed-swords"></i> NPC Attack
        </div>
    </div>
</header>
