{{!-- Source Tab --}}
<section class="tab-content {{#if tab.active}}active{{/if}}" data-tab="source">

    <fieldset class="npc-attack-fieldset">
        <legend><i class="fas fa-book-open"></i> {{localize "SHADOWDARK.sheet.item.tab.source"}}</legend>

        <div class="form-group">
            <label>Source</label>
            <select name="system.source.title">
                <option value="">&nbsp;</option>
                {{#each sources}}
                <option value="{{uuid}}" {{#if (eq ../system.source.title uuid)}}selected{{/if}}>
                    {{name}}
                </option>
                {{/each}}
            </select>
        </div>
    </fieldset>

</section>