<div class="sdx-scene-nav-bar">
    <button class="scene-nav-btn scene-nav-prev" data-action="prev-scene" title="Previous Scene">
        <i class="fas fa-caret-left"></i>
    </button>
    <div class="scene-nav-name">{{sceneName}}</div>
    <button class="scene-nav-btn scene-nav-next" data-action="next-scene" title="Next Scene">
        <i class="fas fa-caret-right"></i>
    </button>
</div>